@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao gerenciador de eventos</h1>
    <p>O Gerenciador de Eventos surgiu de uma "dor" que é anotar e informar TODOS os eventos do dia e,</p>
    <p> consiste numa "agenda" na qual é possível cadastrar os "eventos" (refeições e sonecas, rs) que ocorrem durante o dia da minha filha</a>.</p>
</div>
