@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h1 class="display-4">Um teste qualquer</h1>
    <p>Google<a href="https://www.google.com">Dá um Google aih!!!!</a>.</p>
    
    <h1 class="display-4">Um teste qualquer 2</h1>
    <p><a href="https://www.google.com">Google</a></p>
</div>
